<section class="featured-widget">
  <div class="list-carousel responsive">
    <ul class="feature-imgs clearfix">
    <%- featured.each do |post| %>
      <li>
        <article class="clearfix">
          <img class="responsive-img" src="http://www.placehold.it/410x346" alt="" />
          <div class="feature-caption">
            <h1><%= link_to post.title, post %></h1>
          </div><!--end:feature-caption-->
        </article>
      </li>
    <%- end %>
    </ul><!--end:feature-news-->
    <div class="clear"></div>
    <a id="prev-1" class="prev" href="#">&nbsp;</a>
    <a id="next-1" class="next" href="#">&nbsp;</a>
  </div><!--end:list-carousel-->
</section><!--end:featured-widget-->
