.nivo-caption h1 {
	zoom:1;
	*display:inline;
}
.gallery-widget figure a img {
	display:block;
	margin-bottom:20px;
}
.feature-caption {
	width:90.24%;
	bottom:3px;
}
.featured-widget {
	width:100%;
	
}
#main-menu li ul {
	top:55px;
}
#comment-message {
    height: 130px;
}
#comments-form #submit-comment {
	margin-top:10px;
}
.comments-list .children li {
	background-position:46px 0;
}

.middle-sidebar ul{
	margin-left:-15px;
}