/* =========================================================
Common styles
============================================================ */
@font-face {
    font-family: 'bebas_neueregular';
    src: font-url('bebasneue.eot');
    src: font-url('bebasneue.eot?#iefix') format('embedded-opentype'),
         font-url('bebasneue.woff') format('woff'),
         font-url('bebasneue.ttf') format('truetype'),
         font-url('bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
  background-image:image-url('background/binding_light.png');
  background-position: 0 0;
  background-repeat:repeat;
  background-attachment:fixed;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

ol {
  margin-top:15px;
}
ul {
  margin-top:15px;
}
ul li {
  list-style:inside disc;
  margin-bottom:10px;
}
ol li {
  list-style:inside decimal;
  margin-bottom:10px;
}
/*------responsive image----------------*/
.responsive-img{
  max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
/* =========================================================
Elements
============================================================ */
blockquote {
    background: image-url("icons/blockquote-icon.png") no-repeat scroll 0 0 transparent;
    color: #666666;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    font-style: italic;
    line-height: 20px;
    margin: 20px 20px 20px 0;
    padding: 20px 0 0 40px;
    text-align: justify;
}
.kp-dropcap {
    display: inline-block;
    float: left;
    font-family: 'Lora',serif;
    font-size: 40px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 22px;
}
.kp-dropcap.dark {
    background: none repeat scroll 0 0 #333;
    color: #FFFFFF;
  height:42px;
  line-height:42px;
  width:42px;
  margin-right:5px;
}
.big-button,
.medium-button,
.small-button {
  background-color:#151515;
  text-align:center;
  color:#fff;
  font-weight:bold;
  font-family: 'Lora', serif;
  cursor:pointer;
  display:inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border:1px solid #fff;
}
.big-button:hover, .medium-button:hover, .small-button:hover {
  background-color:#ff0033;
  color:#fff;
  text-decoration:none;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
}
.big-button{
  padding:10px 20px;
  font-size:18px;
}
.medium-button {
  padding:8px 15px;
  font-size:16px;
}
.small-button {
  padding:5px 10px;
  font-size:14px;
}
/* =========================================================
Heading
============================================================ */
h1 {
    color: #333;
    font: 700 22px/24px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;
}
h2 {
    color: #333;
    font: 700 20px/22px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;
}
h3 {
    color: #333;
    font: 700 18px/20px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;
}
h4 {
    color: #333;
    font: 700 16px/20px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;

}
h5 {
    color: #333;
    font: 700 14px/18px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;

}
h6 {
    color: #333;
    font: 700 13px/18px 'Lora', serif;;
    letter-spacing: 0;
  margin-bottom:3px;

}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #ff0033;
}
p {
  margin-bottom:10px;
  line-height:18px;
}
/* =========================================================
Clear Floated Elements
============================================================ */
.left{
  float:left;
}
.right{
  float:right;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;  height: 0;
}
.clearfix:before, .clearfix:after{
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
 }
.clearfix:after{
  clear: both;
}
.clearfix{
  zoom: 1;
}
.hover-effect{
  cursor:pointer;
  z-index:100;
}

/* =========================================================
  Columns
============================================================ */
.column-a {
  float:left;
  margin-left:20px;
  width:410px;
}
.column-b {
  float:left;
  margin-left:20px;
  width:660px;
  margin-top:10px;
}
.last {
  margin-right:0 !important;
}
.wrapper{
  width:1130px;
  margin:0 auto;
}
.one-second-column-a {
  width:175px;
  float:left;
  margin-right:20px;
}
.column-bleft {
  width:320px;
  float:left;
  margin-right:20px;
}
.column-bright {
  width:320px;
  float:left;
}
.sidebar {
  float:left;
  margin-left:20px;
  width:320px;
}
.main-col {
  float:left;
  margin-left:20px;
  width:750px;
}
/* =========================================================
  Header
============================================================ */
.page-shadow{
  background-image:image-url('background/shadow-bg.png');
  background-position: center center;
  background-repeat:repeat;
  background-attachment:fixed;
}
.page-header{
  background:#fff;
}
/* =========================================================
  Main Menu
============================================================ */
#header-top {
  background-color:#111;
}
#main-nav {
  position:relative;
  z-index:500;
  float:left;
}
#main-menu > li {
  float:left;
  position:relative;
  list-style:none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom:0px;
}
#main-menu{
  margin:0;
}
#main-menu > li > a {
  padding:17px 20px;
  display:block;
  font-family: 'bebas_neueregular',Arial,sans-serif;
  text-transform:uppercase;
  font-size:20px;
  color:#fff;
  text-decoration:none;
}
#main-menu > li:hover {
   background-color:#000;
  outline:0;
}
#main-menu > li:hover a {
  color:#fff;
  text-decoration:none;
}
/* =========================================================
  Dropdown Menu
============================================================ */
#main-menu li ul {
  display:none;
  width:200px;
  background-color:#333;
  position:absolute;
  top:55px;
  left:0;
  margin:0;
}
#main-menu li ul li {
  border-bottom:1px solid #565b5d;
  position:relative;
  list-style:none;
  margin-bottom:0;
}
#main-menu li ul li a {
  display:block;
  padding:10px 20px;
  color:#fff;
  font-weight:bold;
  background: image-url("background/bullet-red.png") no-repeat scroll 10px 14px;
    display: block;
    text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-menu > li > ul > li:hover > a, #main-menu li ul li ul li:hover a {
  color:#fff;
  background: image-url("background/bullet-red.png") no-repeat scroll 15px 14px #E5E5E5;
    padding-left:30px;
  background-color:#000;
  outline:0;
  position:relative;
  z-index:1;
}
#main-menu > li > ul > li:hover, #main-menu li ul li ul li:hover{
  background:#5f6162;
}
#main-menu li ul li ul {
  position:absolute;
  left:200px;
  top:0;
  border-left:1px solid #565b5d;
}
/* =========================================================
  Responsive Menu
============================================================ */
#responsive-menu {
    background-color: #000;
   border:1px solid #1f1f1f;
    color: #969696;
    display: none;
    margin-left: 20px;
    margin-top: 11px;
    padding: 6px;
    width: 100%;
  cursor:pointer;
}/* =========================================================
  Search box
============================================================ */
.search-box {
  float:right;
  margin-right:20px;
  margin-top:10px;
  margin-bottom:10px;
}
.search-form {
  position:relative;
  width:196px;
}
.search-form .search-text {
  border:1px solid #1f1f1f;
  width:131px;
  height:25px;
  line-height:25px;
  float:right;
  padding:3px 54px 3px 8px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#969696;
  background-color:#000;
  -webkit-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
}
.search-form .search-text:focus{
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
  border:1px solid #fff!important
}
.search-form .search-submit {
    background: image-url("icons/search-icon.png") no-repeat scroll 8px 8px #FF0033;
    border:1px solid #000;
    cursor: pointer;
    height: 31px;
    position: absolute;
    right: 2px;
    top: 1px;
    width: 31px;
  -webkit-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
}
.search-form .search-submit:hover {
  background-color:#000;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
  border:1px solid #fff!important
}
/* =========================================================
  Logo
============================================================ */
#header-bottom {
    height: 110px;
    padding: 0 20px;
}
#logo-image{
  float:left;
  margin-top: 8px;
  margin-bottom: 8px;
}
#logo-image a{
  display:block;
}
/* =========================================================
  Social Links
============================================================ */
.social-links {
  margin-top:35px;
  float:right;
}
.social-links li {
  float:left;
  list-style:none;
  margin-left:8px;
}
.social-links li.twitter-icon {
  background:image-url('icons/social-links.png') no-repeat 0 0;
}
.social-links li.facebook-icon {
  background:image-url('icons/social-links.png') no-repeat -48px 0;
}
.social-links li.dribbble-icon {
  background:image-url('icons/social-links.png') no-repeat -96px 0;
}
.social-links li.forrst-icon {
  background:image-url('icons/social-links.png') no-repeat -144px 0;
}
.social-links li.lastfm-icon {
  background:image-url('icons/social-links.png') no-repeat -192px 0;
}
.social-links li.linkedin-icon {
  background:image-url('icons/social-links.png') no-repeat -240px 0;
}
.social-links li.tumblr-icon {
  background:image-url('icons/social-links.png') no-repeat -288px 0;
}
.social-links li.google-plus-icon {
    background:image-url('icons/social-links.png') no-repeat -335px 0;
}
/* =========================================================
  Main Content
============================================================ */
.main-content {
  background-color:#fff;
  padding:20px 0;
}
.widget_grey{
  background-color:#f3f3f3;
  padding:20px;
  margin-bottom:0px;
}
.widget {
  margin-bottom:20px;
}
.widget .widget-title,
.gallery-widget .widget-title,
.widget_grey .widget-title{
  color:#ff0033;
  font-size:18px;
  text-transform:uppercase;
  font-family: 'bebas_neueregular',Arial,sans-serif;
  font-weight:400;
  border-bottom:3px solid #333;
  padding-bottom:10px;
  margin-bottom:20px;
}
.border-bottom {
  border-bottom:1px solid #e5e5e5;
  padding-bottom:25px;
  margin-bottom:25px;
}
.entry-item .image-frame{
  float:left;
  margin-right:20px;
  display:block;
}
.entry-item .image-frame img{
  width:100%;
}
.entry-meta, .entry-category, .entry-date, .entry-author {
  font-size:11px;
}
.entry-category, .entry-date, .entry-author {
  font-weight:700;
  color:#333;
}
.entry-meta {
  color:#ff0033;
}
.entry-category:hover {
  color:#ff0033;
}
.entry-item .entry-title {
  font-family: 'Lora', serif;
  font-size:16px;
  margin:10px 0 5px 0;
}
.sidebar .entry-item .entry-title{
  margin:5px 0 5px 0;
  font-size:14px;
}
.entry-item .entry-title a {
  color:#333;
  font-weight:bold;
}
.entry-item .entry-title a:hover {
  color:#ff0033;
}
.entry-item p {
  margin-bottom:0;
}
/* =========================================================
  Middle Sidebar
============================================================ */
.middle-sidebar{
  background-color:#111;
  padding:20px;
  margin-bottom:20px;
}
.one-second-column-a .widget .widget-title {
  color:#aaa;
  font-size:16px;
  text-transform:uppercase;
  font-family: 'bebas_neueregular',Arial,sans-serif;
  font-weight:400;
  border-bottom:3px solid #292929;
  padding-bottom:10px;
  margin-bottom:20px;
}
.middle-sidebar ul li {
  list-style:none;
  margin-bottom:10px;
  margin-left:0;
}
.middle-sidebar ul li a{
  color:#aaa;
}
.middle-sidebar ul li a:hover{
  color:#fff;
  text-decoration:underline;
}
.middle-sidebar ul li span {
  margin-left:5px;
  color:#fff;
}
.widget figure, .gallery-widget figure {
  margin-right:-20px;
}
.widget figure a {
  float:left;
  display:block;
  margin-right:17px;
}
.gallery-widget figure a {
  float:left;
  display:block;
  margin-right:20px;
  margin-bottom:20px;
}
/* =========================================================
  Latest Articles
============================================================ */
.latest-article .widget-title{
  color:#ff0033;
  font-size:20px;
  text-transform:uppercase;
  font-family: 'bebas_neueregular',Arial,sans-serif;
  font-weight:400;
  background:image-url('background/line.png') repeat-x left bottom;
  margin-bottom:20px;
  padding-bottom:15px;
}
.small-entry {
  margin-right:-20px;
  margin-bottom:10px;
}
.small-entry article {
  float:left;
  margin-right:20px;
  width:150px;
}
.small-entry article .image-frame,
.big-entry .image-frame {
  margin-bottom:10px;
}
.small-entry article .entry-title {
  font-family: 'Lora', serif;
  margin-top:10px;
}
.big-entry .entry-title {
  line-height:24px;
  margin-top:10px;
  font-family: 'Lora', serif;
}
.small-entry article .entry-title a,
.big-entry .entry-title a {
  font-weight:bold;
}
.big-entry .entry-title a {
  color:#333;
}
.big-entry .entry-title a:hover {
  color:#ff0033;
}
.big-entry {
  margin-bottom:25px;
}
.load-more {
  background-color:#151515;
  text-align:center;
  padding:10px 0;
  margin-top:20px;
  color:#fff;
  font-weight:bold;
  font-size:18px;
  font-family: 'Lora', serif;
  cursor:pointer;
  display:block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border:1px solid #fff;
}
.load-more:hover {
  background-color:#ff0033;
  color:#fff;
  text-decoration:none;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
}
.video-play{
  background-image:image-url('icons/play.png');
  background-position:center center;
  background-repeat:no-repeat;
}
.image-frame{
  display:block;
  background-color:#000;
}
/* =========================================================
  Carousel Slider
============================================================ */
.featured-widget{
  position:relative;
}
.list-carousel > ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
  height:100%;
}
.column-a .list-carousel ul li {
    display: block;
    float: left;
    padding: 0;
    width: 410px;
  margin:0;
}
.list-carousel.responsive {
    width: auto;
  margin:0;
}
.list-carousel ul li article {
  position:relative;
  width:100%;
}
.list-carousel ul li article img {
  width:100%;
  height:auto;
  display:block;
}
.column-a .list-carousel .next, .column-a .list-carousel .prev {
    height: 55px;
    outline: medium none;
    position: absolute;
  top: 38%;
    text-decoration: none;
    -webkit-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
    width: 30px;
  background-image: image-url("icons/arrows.png");
    background-color: #111;
    background-repeat: no-repeat;
   border:1px solid #111;
}
.column-a .list-carousel .next {
    background-position: 9px -73px;
  right:0;
}
.column-a .list-carousel .prev {
    background-position: 6px 14px;
  left:0px;
}
.column-a .list-carousel .prev:hover,
.column-a .list-carousel .next:hover{
  background-color:#ff0033;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
  border:1px solid #fff!important
}
.feature-caption {
  position:absolute;
  left:0;
  bottom:0;
  padding:10px 20px;
  background:image-url('slider/caption-bg.png') repeat 0 0;
}
.feature-caption span {
  font-size:11px;
  color:#000;
  background-color:#bcbcbc;
  padding:3px 5px;
  display:inline-block;
  text-transform:uppercase;
}
.feature-caption h1 {
  margin:5px 0 0 0;
  line-height:28px;
}
.feature-caption h1 a{
  color:#fff;
  font-family: 'Lora', serif;
  font-size:25px;
  font-weight:bold;
}
.feature-caption h1 a:hover{
  color:#ff0033;
}
/* =========================================================
  Page Bottom
============================================================ */
.page-bottom {
  background-color:#111;
  padding:20px;
  position:relative;
}
#footer-logo {
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #2a2a2a;
}
#footer-nav {
  float:left;
}
#footer-nav ul li {
  float:left;
  margin-right:20px;
  border-right:1px solid #2a2a2a;
  list-style:none;
}
#footer-nav ul li a {
  color:#aaa;
  padding-right:20px;
}
#footer-nav ul li a:hover{
  color:#fff;
  text-decoration:underline;
}
.copy-right{
  float:right;
  font-size:12px;
  color:#aaa;
  margin-right:85px;
  margin-top:15px;
}
#back-top {
    bottom: -10px;
    position: absolute;
    right: 20px;
}
#back-top a {
  text-indent:-99999px;
  font-size:0;
  width:46px;
  height:46px;
  display:block;
  background-image:image-url('background/back-top-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color:#ff0033;
  border:1px solid #111;
  -webkit-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .3s ease-out, -webkit-box-shadow .2s ease-out;
}
#back-top a:hover{
  background-color:#000;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
  border:1px solid #fff!important
}

/* =========================================================
  News Page
============================================================ */
.separator {
    background: none repeat scroll 0 0 #111111;
    height: 20px;
    width: 100%;
}
.breadcrumb {
    border-bottom: 1px solid #E5E5E5;
    font-style: italic;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.breadcrumb a {
    font-family: 'Lora',serif;
    font-style: italic;
    font-size: 14px;
}
.entry-box .news-item{
  border-bottom:1px solid #e5e5e5;
  padding-bottom:20px;
  margin-bottom:20px;
}
.last-news{
  border-bottom:none !important;
  padding-bottom:0 !important;
}
.entry-box .news-item .entry-thumb{
  display:block;
  float:left;
  background:#000;
  margin-right:20px;
  width:35%;
}
.entry-box .news-item .entry-thumb img{
  margin:0;
  width:100%;
}
.entry-box .news-item .meta-box{
  margin-bottom:5px;
}
/*======Pagination=========*/
.pagination {
  margin-top:15px;
  margin-bottom:15px;
}
.pagination li {
  float:left;
  margin-right:5px;
  padding:5px 10px;
  list-style:none;
}
.pagination li a {
  color:#000000;
  font: 700 15px/20px 'Lora',serif;
}

.pagination li.current a, .pagination li:hover a{
  color:#ff0033;
  text-decoration:underline;
}
/* =========================================================
  Single Page
============================================================ */
.entry-box .entry-item img{
  max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  margin-bottom:10px;
  margin-top:10px;
}
.entry-box {
  border-bottom:1px solid #e5e5e5;
  margin-bottom:25px;
}
.entry-box .entry-item .entry-title {
  font-family: 'Lora', sans-serif;
  font-size:26px;
  color:#333;
  font-weight:bold;
  margin:0 0 10px 0;
}
.entry-box .entry-item p {
  margin-bottom:15px;
}
/*--------- About Author ----------*/
.about-author {
  border-bottom:1px solid #e5e5e5;
  padding-bottom:20px;
  margin-bottom:20px;
}
.about-author img {
  float:left;
  margin-right:20px;
  border:1px solid #f5f5f5;
}
.about-author h3 {
  font-size:17px;
  font-family: 'Lora', serif;
  margin-bottom:15px;
  font-weight:bold;
}
.about-author strong {
  display:block;
  margin-bottom:5px;
}
.about-author .entry-content a {
  display:block;
  margin-bottom:5px;
  color:#ff0033;
}
.about-author .entry-content a:hover {
  color:#333;
}
.about-author .entry-content p {
  color:#666;
}
/*------------------ Comments List ---------------------*/
#comments {
  border-bottom:1px solid #e5e5e5;
  padding-bottom:20px;
  margin-bottom:25px;
}
#comments h3 {
  font-size:15px;
  font-family: 'Lora', serif;
  margin-bottom:0;
  font-weight:bold;
}
.comments-list .comment {
  padding-top:20px;
  border-top:1px solid #eee;
  margin-bottom:15px;
  list-style:none;
}
.comment-wrap img {
  float:left;
  margin-right:15px;
}
.comment-wrap .comment-body {
  margin-left:83px;
}
.comment-wrap .comment-body .comment-meta .author {
  display:block;
  font-weight:bold;
  margin-bottom:8px;
  font-size:14px;
}
.comment-wrap .comment-body .comment-meta .date {
  display:block;
  font-size:11px;
  color:#888;
  margin-bottom:8px;
}
.comment-wrap .comment-body .comment-reply-link, .comment-wrap .comment-body .comment-edit-link {
  font-style:italic;
  font-size:11px;
  display:inline-block;
  font-family:Georgia, "Times New Roman", Times, serif;
}
.comment-wrap .comment-body .comment-reply-link {
  margin-right:20px;
}
.comments-list .children {
  margin-left:83px;
}
.comments-list .children li {
  border-top:none;
  padding-top:8px;
  margin-bottom:0;
  background:image-url('background/comment-arrow.png') no-repeat 30px 0;
}
.comments-list .children li article {
    background: image-url("background/comment-top-line.png") no-repeat scroll -1px 0 transparent;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    padding: 15px;
}
.comment-pagination {
    float: right;
    margin-top: 25px;
}
.comment-pagination a, .comment-pagination span {
    font-weight: 700;
    padding-left: 20px;
  font-family: 'Lora', serif;
  font-size:14px;
}
.comment-pagination .current {
  color:#ff0033;
}
/*------------------ Comment Form ---------------------*/
#respond h3, #google-map h3 {
  font-size:18px;
  font-weight:bold;
  font-family: 'Lora', serif;
  margin-bottom:15px;
}
#comments-form label {
  color:#666;
  margin-bottom:5px;
  display:inline-block;
}
#comments-form .comment-left, #comments-form .comment-right {
    float: left;
    margin-top: 5px;
}
#comments-form .comment-left {
  width: 33.68%;
}
#comments-form .comment-right {
  width: 66.31%;
}
#comments-form p.input-block, #comments-form p.subject-block {
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
#comment-name, #comment-email, #comment-url, #comment-subject {
    border: 1px solid #E5E5E5;
    color: #666666;
    font-size: 12px;
    height: 19px;
    margin-right: 5.76%;
    padding: 5px 3.84%;
    width: 84.61%;
  -webkit-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
}
#comment-name:focus,
#comment-email:focus,
#comment-url:focus,
#comment-subject:focus,
#comment-message:focus{
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
  border:1px solid #fff!important
  }
#comments-form p.textarea-block {
    position: relative;
    width: 100%;

}
#comment-message {
    border: 1px solid #e5e5e5;
    height: 127px;
    padding: 10px 1.62%;
    width: 96.42%;
  color: #666666;
    font-size: 12px;
  -webkit-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  -moz-transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition:border-color .2s ease-out, -webkit-box-shadow .2s ease-out;
}
#comments-form .comment-button {
  margin-bottom:20px;
}
#comments-form #submit-comment {
  display:block;
  color:#fff;
  font-family: 'Lora', serif;
  font-size:14px;
  padding:8px 15px;
  font-weight:bold;
  border:none;
  cursor:pointer;
  background-color:#151515;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border:1px solid #fff;
}
#comments-form #submit-comment:hover {
  background-color:#ff0033;
  color:#fff;
  text-decoration:none;
  outline:0;
  -webkit-box-shadow:0 0 6px 0 #4b9de3;
  -moz-box-shadow:0 0 6px 0 #4b9de3;
  box-shadow:0 0 6px 0 #4b9de3;
}
#comments-form .k-invalid-msg {
    position: absolute;
    right: 15px;
    top: 0;
  color:#ff0033;
}
#comments-form p.textarea-block .k-invalid-msg {
    right: 0;
}
#comments-form #status-message {
    font-size: 14px;
    font-weight: 700;
  color:#ff0033;
}
/* =========================================================
  Sidebar
============================================================ */
.sidebar .widget  .image-frame{
  width:85px;
}
.sidebar .entry-item .image-frame{
  margin-right:15px;
}
.sidebar .one-second-column-a {
  width:130px;
}
.sidebar .widget figure {
  margin-right:0;
}
.sidebar .widget figure a {
  margin:0 17px;
}
/* =========================================================
  Contact Page
============================================================ */
#google-map {
  margin-bottom:25px;
}
/* =========================================================
  Elements page
============================================================ */
.elements-box {
  margin-top:15px;
}
.elements-box h1, .elements-box h2, .elements-box h3, .elements-box h4, .elements-box h5, .elements-box h6 {
  margin-bottom:8px;
  font-family: 'Lora', serif;
  font-weight:bold;
}
.elements-box p {
  margin-bottom:15px;
}
.element-title {
  text-transform:uppercase;
  color:#010101;
  margin-bottom:25px !important;
}
.elements-box .order-list {
  margin-bottom:25px;
}
.elements-box .big-button, .elements-box .medium-button {
  margin-right:20px;
  margin-bottom:25px;
}
.elements-box .small-button {
  margin-bottom:25px;
  margin-right:20px;
}
/* =========================================================
404 Page
============================================================ */
.breadcrumb-404{
  margin-left:20px;
  margin-right:20px;
}
.error-404{
    padding:100px 10% 91px 10%;
}
.error-404 .left-col{
    width:42%;
    float:left;
  margin-right:4.3%;
}
.error-404 .left-col p{
    font-size:120px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#000;
    line-height:100px;
  text-align:right;
}
.error-404 .right-col{
    width:50%;
    float:left;
}
.error-404 .right-col h1{
    margin-bottom:10px;
    font-size:29px;
}
.kopa-pagelink{
  margin-top:20px;
  margin-bottom:20px;
}
.kopa-pagelink a{
  color:#255379;
  text-decoration:underline;
  font-weight:700;
  padding-right:15px;
}
